.container.col-md-4.col-md-offset-4
  %h2 User preview
  %label Email
  = current_user.email
  %br
  %label Nickname
  = current_user.nickname
  %br
  %label Avatar:
  %br
  = image_tag(current_user.avatar.thumb)
  %br
  = link_to 'Continue', root_path, class: 'btn btn-default space'
