development:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: blog-clone_development
  pool:     5
  username: username
  password: password
  template: template0

test:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: blog-clone_test
  pool:     5
  username: username
  password: password
  template: template0

production:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: blog-clone_production
  pool:     5
  username: username
  password: password
  template: template0
