%nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{ 'aria-controls': 'navbar', 'aria-expanded': 'false', 'data-target': '#navbar', 'data-toggle': 'collapse', type: 'button' }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Blog', root_path, class: 'navbar-brand'
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          - if user_signed_in?
            = link_to 'Sign out', destroy_user_session_path, method: :delete
          - else
            = link_to 'Sign in', new_user_session_path, class: 'pull-left'
            = link_to 'Sign up', new_user_registration_path, class: 'pull-right'
